.not-found {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nf-number {
    color: rgb(216, 216, 216);
    font-size: 200px;
    font-weight: bold;
}

.nf-text {
    color: rgb(216, 216, 216);
    font-size: 30px;
    font-weight: bold;

}