$smallSize : 640px;
$tabletSize : 768px;
$pcSize : 1024px;


$header-vertical-padding : 10px;
$header-logo-height : 40px;
$main-color : rgb(255, 255, 255);
$secondary-color : rgb(41, 37, 36);
$tertiary-color : #ffb834;
$primary-text-color : white;
$secondary-text-color : black;
$tertiary-text-color : #0D3276;
