$smallSize : 640px;
$tabletSize : 768px;
$pcSize : 1024px;

$mainFont : 'Open Sans', sans-serif;


$header-vertical-padding : 10px;
$header-logo-height : 40px;
$main-color : rgb(255, 255, 255);
$secondary-color : #220b57;
$tertiary-color : #e39368;
$primary-text-color : white;
$secondary-text-color : black;
$tertiary-text-color : #0D3276;
